version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: it-ticket-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: it_ticket
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.dev
    container_name: it-ticket-api
    ports:
      - '4000:4000'
    volumes:
      - ./apps/api:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/it_ticket
    depends_on:
      - db
    restart: unless-stopped

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile.dev
    container_name: it-ticket-web
    ports:
      - '3000:3000'
    volumes:
      - ./apps/web:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000
      - WATCHPACK_POLLING=true
    depends_on:
      - api
    restart: unless-stopped

volumes:
  postgres_data:
